<!-- add new user button -->
<button type="button" class="btn btn-primary top" data-toggle="modal" data-target="#login">
  Connexion
</button>

<!-- add new user form modal -->
<div class="modal" tabindex="-1" role="dialog" id="login">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Se connecter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="login" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <h5 class="modal-subtitle">Identification</h5>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" formControlName="email"/>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" formControlName="password"/>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
</div>