<div class="container">
  <div class="row">
    <div
      class="card col-6"
      style="width: 18rem;"
      *ngFor="let product of products"
    >
      <a href="..."
        ><img src="../../assets/img/highcake.png" class="card-img-top" alt="..."
      /></a>
      <div class="card-body">
        <p class="card-title">{{ product.title }}</p>
        <!-- <p class="card-text">{{ product.description }}</p>
        <p class="price">{{ product.price }} €</p> -->
        <div class="card-link">
          <a href="..."><button>voir plus</button></a>  
        </div>
      </div>
    </div>
  </div>
</div>
