<!-- add new user button -->
<button
  type="button"
  class="btn btn-primary top"
  data-toggle="modal"
  data-target="#adduser"
>
  Inscription
</button>

<!-- add new user form modal -->
<div class="modal" tabindex="-1" role="dialog" id="adduser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">S'inscrire</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-subtitle">Informations générales</h5>
        <form
          [formGroup]="newUser"
          (ngSubmit)="onSubmit()"
          class="needs-validation"
          novalidate
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nom</label>
              <input
                type="text"
                class="form-control"
                formControlName="lastname"
              />
            </div>
            <div class="form-group col-md-6">
              <label>Prénom</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstname"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Addresse</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              formControlName="adress"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputZip">Code Postal</label>
              <input
                type="text"
                class="form-control"
                id="inputZip"
                formControlName="zipcode"
              />
            </div>
            <div class="form-group col-md-8">
              <label for="inputCity">Ville</label>
              <input
                type="text"
                class="form-control"
                id="inputCity"
                formControlName="city"
              />
            </div>
          </div>
          <div class="form-group">
            <label>Numero de téléphone</label>
            <input
              type="text"
              class="form-control"
              formControlName="phonenumber"
            />
          </div>
          <h5 class="modal-subtitle">Identification</h5>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                formControlName="email"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" formControlName="password"/>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
      </div>
    </div>
  </div>
</div>
