<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img
      src="../../../assets/img/cupcakelogo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <a class="navbar-brand" href="#">Maison zelie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Categorie</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Cupcakes</a>
            <a class="dropdown-item" href="#">Pieces montées</a>
            <a class="dropdown-item" href="#">Patisseries</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Promotions</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">AdminProducts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signin">SignIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
