<!-- add new product button -->
<button type="button" class="btn btn-primary top" data-toggle="modal" data-target="#addproduct">
  Ajouter un nouvel article
</button>

<!-- show actual products -->
<div class="container">
  <div class="row">
    <div class="card col-6" style="max-width: 40rem;" *ngFor="let product of products">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../../assets/img/highcake.png" class="card-img" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.price }} €</p>
            <a [routerLink]="['/admin/products/edit/', product._id]"><button type="button" class="btn btn-outline-primary">Modifier</button></a>
            <button type="button" class="btn btn-danger" (click)="deleteProducts(product._id)">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add new product form modal -->
<div class="modal" tabindex="-1" role="dialog" id="addproduct">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un nouvel article</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newProduct" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlInput1">Designation</label>
            <input
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Prix</label>
            <input
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="price"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Image (url)</label>
            <input
              id="exampleFormControlInput1"
              class="form-control"
              type="file"
              formControlName="image"
              accept="image/png, image/jpeg"
            />
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Categorie</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                formControlName="category"
              >
                <option>Pieces montées</option>
                <option>Cupcakes</option>
                <option>Patisseries</option>
                <option>Autres</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
